* {
  box-sizing: border-box;
}

.name-tag {
  border: 5px solid rgb(212, 208, 208);
  border-radius: 0px;
  width: 300px;
  height: 200px;
  margin-bottom: 10px;
  background: red;
  border-radius: 10px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.name-tag h1 {
  color: white;
  text-align: center;
  margin: 5px 0px 0px 0px;
  height: 20px;
}

.name-tag h2 {
  color: white;
  text-align: center;
  height: 25px;
}

.name-tag p {
  position: left;
  background: white;
  padding: 20px;
  text-align: center;
  left: 5px;
  width: 290px;
  height: 70px;
  border-radius: 0px;
  font-size: 25px;
}

